<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Ards Fuels is a family run business located on the Jubilee Road in Newtownards.
          We pride ourselves on providing quality fuel products at affordable prices. </p>
      </div>
      <div class="col-lg-4">
        <p>As a family run business, you can trust us to give you a fair price on all sorts of quality 
          fuel products. If you have any questions or require any advice related to coal or gas, please pop in
          to our yard or give us a call!
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.facebook.com/profile.php?id=100086950862779" class="btn btn-lg btn-outline">
          <i class="fa fa-phone-square"></i> Talk to us on facebook!
        </a>
      </div>
    </div>
  </div>
</section>
